
body {
	background-color: #595946;
/*	background-color: #f4ffeb; */
}

#tamas {
	width: 950px;
}

.tamanewline {
	display: block;
}

.tamaoffset {
	display: inline-block;
	background: transparent;
	width: 149px;
	height: 50px;
}

.tamahex {
	display: inline-block;
	background: transparent url("hexagon.png") no-repeat;
	width: 270px;
	height: 330px;
	padding-top: 85px;
	padding-left: 15px;
	margin: 6px 6px -140px 6px;
}

.tamalcd {
	cursor: pointer;
}

#ovl {
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	visibility: hidden;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	z-index: 1000;
	display: block;
}

#bigTama {
	position: relative;
	visibility: hidden;
	margin: 10% auto;
	z-index: 1001;
}